<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us||LookeyOne Travel</title>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>

    <div class="main_container" id="home">

        <div class="navbar">
            <div class="logo">
                <i class="fas fa-plane"></i>
                <a href="#">LookeyOne Travel</a>
            </div>
            <div class="navbar_items">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/order">Order</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </div>

        <div class="banner_image">
            <div class="banner_content">
                <h1> "Bahagia itu sederhana <br> <span> Ketika kita bisa menyatu dengan alam dan menikmati setiap detik
                        keindahannya." <span></h1>
                <p>Mari pesan tiket liburan mu bersama keluarga bersama kami disini.</p>
            </div>
        </div>

        <div class="about" id="about">
            <h1 class="title">About Us</h1>
            <p>LookeyOne Travel didirikan pada tanggal 20 April 2021. LookeyOne Travel didirikan oleh 2 orang yakni
                Noormalia dan Rizkiana. LookeyOne Travel didirikan agar memudahkan kita dalam pemesanan tiket liburan
                yang murah dan mudah.</p>
            <div class="btn"><a href="#">Baca Selengkapnya</a></div>
        </div>

        <div class="services" id="services">
            <h1 class="title">Our Services</h1>
            <p>Banyak pelayanan yang kami berikan kepada kalian yakni sebagi berikut:</p>
            <div class="diff_services">
                <div class="diff_services_item">
                    <img src="img/Tiket.jpg" alt="service_image">
                    <h3 class="sub_title">Kemudahan pesan tiket dan hotel</h3>
                    <p>Pesan tiket sekaligus hotel dengan mudah dan cepat.Hanya dengan sentuhan jari , tiket dan hotel
                        yang dibutuhkan bisa kita dapat dengan mudah.</p>
                </div>
                <div class="diff_services_item">
                    <img src="img/kartu.jpg" alt="service_image">
                    <h3 class="sub_title">Banyak Pilihan cara pembayaran.</h3>
                    <p>Saat transaksi di LookeyOne Travel, kamu bisa memilih cara pembayaran sesuai keinginan. Ada
                        pilihan pembayaran via bank transfer, ATM transfer, Virtual Account (VA), kartu debit online,
                        maupun kartu kredit. Bisa dicicil juga, lho. Prosesnya mudah dan simpel!</p>
                </div>
                <div class="diff_services_item">
                    <img src="img/Promo.png" alt="service_image">
                    <h3 class="sub_title">Banyak Promo Spesial</h3>
                    <p>Banyak promo untuk tiket & hotel kesayanganmu. Dapatkan diskon harga terbaik agar bujet liburan
                        kamu semakin hemat. Tidak ada alasan lagi untuk menunda liburan kamu.</p>
                </div>
            </div>
        </div>
        <div class="contactus" id="contactus">
            <h1 class="title">Contact us</h1>
            <div class="form_wrapper">
                <div class="form_input">
                    <input type="text" placeholder="Email">
                </div>
                <div class="form_input">
                    <input type="text" placeholder="Subject">
                </div>
                <div class="form_input">
                    <textarea placeholder="Message"></textarea>
                </div>
                <div class="btn">
                    <a href="#">Submit</a>
                </div>
            </div>
        </div>
        <div class="ourteam" id="ourteam">
            <h1 class="title">our team</h1>
            <div class="ourteam_wrapper">
                <div class="team-1 team">
                    <div class="team_members" data-name="nathan john"><img src="img/uma.jpg" alt="Team_Images"></div>
                    <div class="team_members" data-name="Alyssa Healy"><img src="img/a.jpg" alt="Team_Images"></div>
                </div>
            </div>
        </div>

        <div class="footer">
            <a href="#">© 2021 LookeyOne</a>
        </div>


        <div class="arrow">
            <a href="#home"><img src="images/arrow.png" alt="up_arrow"></a>
        </div>
    </div>

</body>

</html>