<html>

<head>
    <meta charset="UTF-8" />
    <title>LookyOne Travel||Noormalia & Rizkiana </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css" />
</head>

<body>

    <header>
        <div>
            <i class="fas fa-plane"></i>
            <p>LookyOne</p>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/order">Order</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <section class="titles">
        <h1>LookyOne Travel</h1>
        <p>
            LookyOne Travel adalah salah satu situs untuk pembelian tiket perjalanan maupun penginapan yang ada di
            Indonesia.
        </p>
    </section>

    <section class="container-boxes">
        <div class="box">
            <div class="icon">
                <a href=""></a>
                <i class="fas fa-map"></i>
            </div>
            <div class="text">
                <a href="/order">
                    <h3>Tiket Perjalanan</h3>
                    <p>Pesan Sekarang dan Terbang bersama Garuda Indonesia Airways.</p>
                </a>
            </div>
        </div>
        <div class="box">
            <div class="icon">
                <a href="/order"></a>
                <i class="fas fa-home"></i>
            </div>
            <div class="text">
                <a href="/order">
                    <h3>Penginapan</h3>
                    <p>Travel bersama kami dan jelajahi keindahan alam di indonesia.</p>
                </a>
            </div>
        </div>
        <div class="box">
            <div class="icon">
                <a href=""></a>
                <i class="fas fa-handshake"></i>
            </div>
            <div class="text">
                <a href="/about">
                    <h3>Tentang LookyOne</h3>
                    <p>Asal Muasal Berdirinya LookyOne Travel serta info pendiri LookyOne Travel.</p>
                </a>
            </div>
        </div>
    </section>
    <section>
        <div class="social-menu">
            <h4>Our Social Media</h4>
            <ul>
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://youtu.be/XglizRcXziQ"><i class="fa fa-youtube"></i></a></li>
            </ul>
        </div>
    </section>

    <!--JavaScripts-->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>