<html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pemesanan || LookeyOne Travel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Superfish -->
    <link rel="stylesheet" href="css/superfish.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="css/bootstrap-datepicker.min.css">
    <!-- CS Select -->
    <link rel="stylesheet" href="css/cs-select.css">
    <link rel="stylesheet" href="css/cs-skin-border.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />

    <link rel="stylesheet" href="css/style.css">


    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>
    <div id="fh5co-wrapper">
        <div id="fh5co-page">

            <header id="fh5co-header-section" class="sticky-banner">
                <div class="container">
                    <div class="nav-header">
                        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
                        <h1 id="fh5co-logo"><i class="fas fa-plane"></i> LookeyOne Travel</h1>
                        <!-- START #fh5co-menu-wrap -->
                        <nav id="fh5co-menu-wrap" role="navigation">
                            <ul class="sf-menu" id="fh5co-primary-menu">
                                <li><a href="/">Home</a></li>
                                <li><a href="about">About</a></li>
                                <li><a href="order">Order</a></li>
                                <li><a href="login">Login</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>

            <!-- end:header-top -->

            <div class="fh5co-hero">
                <div class="fh5co-overlay"></div>
                <div class="fh5co-cover" data-stellar-background-ratio="0.5"
                    style="background-image: url(images/mbtn.jpg);">
                    <div class="desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-5 col-md-5">
                                    <!-- <a href="index.html" id="main-logo">Travel</a> -->
                                    <div class="tabulation animate-box">

                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active">
                                                <a href="#flights" aria-controls="flights" role="tab"
                                                    data-toggle="tab">Flights</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#hotels" aria-controls="hotels" role="tab"
                                                    data-toggle="tab">Hotels</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#packages" aria-controls="packages" role="tab"
                                                    data-toggle="tab">Packages</a>
                                            </li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="flights">
                                                <form action="/flight" method="POST">
                                                    <div class="row">
                                                        <div class="col-xxs-12 col-xs-6 mt">
                                                            <div class="input-field">
                                                                <label for="from">From:</label>
                                                                <input type="text" class="form-control"
                                                                    name="from_place" id="from-place" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xxs-12 col-xs-6 mt">
                                                            <div class="input-field">
                                                                <label for="from">To:</label>
                                                                <input type="text" class="form-control" name="to_place"
                                                                    id="to-place" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                                            <div class="input-field">
                                                                <label for="date-start">Check In:</label>
                                                                <input type="text" class="form-control" name="checkin"
                                                                    id="date-start" placeholder="mm/dd/yyyy" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                                            <div class="input-field">
                                                                <label for="date-end">Check Out:</label>
                                                                <input type="text" class="form-control" name="checkout"
                                                                    id="date-end" placeholder="mm/dd/yyyy" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 mt">
                                                            <section>
                                                                <label for="class">Class:</label>
                                                                <select class="cs-select cs-skin-border"
                                                                    name="flight_class">
                                                                    <option value="" disabled selected>Economy</option>
                                                                    <option value="economy">Economy</option>
                                                                    <option value="first">First</option>
                                                                    <option value="business">Business</option>
                                                                </select>
                                                            </section>
                                                        </div>
                                                        <div class="col-xxs-12 col-xs-6 mt">
                                                            <section>
                                                                <label for="class">Adult:</label>
                                                                <select class="cs-select cs-skin-border" name="adult">
                                                                    <option value="" disabled selected>1</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                </select>
                                                            </section>
                                                        </div>
                                                        <div class="col-xxs-12 col-xs-6 mt">
                                                            <section>
                                                                <label for="class">Children:</label>
                                                                <select class="cs-select cs-skin-border"
                                                                    name="children">
                                                                    <option value="" disabled selected>1</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                </select>
                                                            </section>
                                                        </div>
                                                        <div class="col-xs-12">
                                                            <input type="submit" class="btn btn-primary btn-block"
                                                                value="Search Flight">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            <div role="tabpanel" class="tab-pane" id="hotels">
                                                <form action="/hotel" method="POST">
                                                    <div class="row">
                                                        <div class="col-xxs-12 col-xs-12 mt">
                                                            <div class="input-field">
                                                                <label for="from">City:</label>
                                                                <input type="text" class="form-control" name="city"
                                                                    id="from-place" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                                            <div class="input-field">
                                                                <label for="date-start">Return:</label>
                                                                <input type="text" class="form-control" name="return"
                                                                    id="date-start" placeholder="mm/dd/yyyy" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                                            <div class="input-field">
                                                                <label for="date-end">Check Out:</label>
                                                                <input type="text" class="form-control" name="checkout"
                                                                    id="date-end" placeholder="mm/dd/yyyy" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 mt">
                                                            <section>
                                                                <label for="class">Rooms:</label>
                                                                <select class="cs-select cs-skin-border" name="room">
                                                                    <option value="" disabled selected>1</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                </select>
                                                            </section>
                                                        </div>
                                                        <div class="col-xxs-12 col-xs-6 mt">
                                                            <section>
                                                                <label for="class">Adult:</label>
                                                                <select class="cs-select cs-skin-border" name="adult">
                                                                    <option value="" disabled selected>1</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                </select>
                                                            </section>
                                                        </div>
                                                        <div class="col-xxs-12 col-xs-6 mt">
                                                            <section>
                                                                <label for="class">Children:</label>
                                                                <select class="cs-select cs-skin-border"
                                                                    name="children">
                                                                    <option value="" disabled selected>1</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                </select>
                                                            </section>
                                                        </div>
                                                        <div class="col-xs-12">
                                                            <input type="submit" class="btn btn-primary btn-block"
                                                                value="Search Hotel">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            <div role="tabpanel" class="tab-pane" id="packages">
                                                <form action="/packages" method="POST">
                                                    <div class="row">
                                                        <div class="col-xxs-12 col-xs-6 mt">
                                                            <div class="input-field">
                                                                <label for="from">City:</label>
                                                                <input type="text" class="form-control" name="city"
                                                                    id="from-place" placeholder="Los Angeles, USA" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xxs-12 col-xs-6 mt">
                                                            <div class="input-field">
                                                                <label for="from">Destination:</label>
                                                                <input type="text" class="form-control"
                                                                    name="destination" id="to-place"
                                                                    placeholder="Tokyo, Japan" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                                            <div class="input-field">
                                                                <label for="date-start">Departs:</label>
                                                                <input type="text" class="form-control" name="departs"
                                                                    id="date-start" placeholder="mm/dd/yyyy" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                                            <div class="input-field">
                                                                <label for="date-end">Return:</label>
                                                                <input type="text" class="form-control"
                                                                    name="returnDate" id="date-end"
                                                                    placeholder="mm/dd/yyyy" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 mt">
                                                            <section>
                                                                <label for="class">Rooms:</label>
                                                                <select class="cs-select cs-skin-border" name="room">
                                                                    <option value="" disabled selected>1</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                </select>
                                                            </section>
                                                        </div>
                                                        <div class="col-xxs-12 col-xs-6 mt">
                                                            <section>
                                                                <label for="class">Adult:</label>
                                                                <select class="cs-select cs-skin-border" name="adult">
                                                                    <option value="" disabled selected>1</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                </select>
                                                            </section>
                                                        </div>
                                                        <div class="col-xxs-12 col-xs-6 mt">
                                                            <section>
                                                                <label for="class">Children:</label>
                                                                <select class="cs-select cs-skin-border"
                                                                    name="children">
                                                                    <option value="" disabled selected>1</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                </select>
                                                            </section>
                                                        </div>
                                                        <div class="col-xs-12">
                                                            <input type="submit" class="btn btn-primary btn-block"
                                                                value="Search Packages">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="desc2 animate-box">
                                    <div class="col-sm-7 col-sm-push-1 col-md-7 col-md-push-1">
                                        <p>HandCrafted by <a href="welcome.html" target="_blank"
                                                class="fh5co-site-name">LookeyOne Travel</a></p>
                                        <h2>Jelajahi nusantara bersama</h2>
                                        <h3>LookeyOne Travel</h3>
                                        <span class="price">Disc 70% selama Ramadhan</span>
                                        <!-- <p><a class="btn btn-primary btn-lg" href="#">Get Started</a></p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div id="fh5co-tours" class="fh5co-section-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                            <h3>Top Perjalanan</h3>
                            <p>Nikmati suasana alam yang indah dan jauh dari perkotaan.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                            <div href="#"><img src="images/place-1.jpeg" alt="" class="img-responsive">
                                <div class="desc">
                                    <span></span>
                                    <h3>Bali</h3>
                                    <span>3 Malam + Penerbangan Hotel*5</span>
                                    <span class="price">Rp.1.500.000</span>
                                    <a class="btn btn-primary btn-outline" href="#"> Pesan Sekarang <i
                                            class="icon-arrow-right22"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                            <div href="#"><img src="images/place-2.jpg" alt="" class="img-responsive">
                                <div class="desc">
                                    <span></span>
                                    <h3>Labuan Bajo</h3>
                                    <span>4 Malam + Penerbangan Hotel*5</span>
                                    <span class="price">Rp.1.800.000</span>
                                    <a class="btn btn-primary btn-outline" href="#">Pesan Sekarang<i
                                            class="icon-arrow-right22"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                            <div href="#"><img src="images/place-3.jpeg" alt="" class="img-responsive">
                                <div class="desc">
                                    <span></span>
                                    <h3>Yogyakarta</h3>
                                    <span>2 Malam + Penerbangan Hotel*4</span>
                                    <span class="price">Rp.700.000</span>
                                    <a class="btn btn-primary btn-outline" href="#"> Pesan Sekarang <i
                                            class="icon-arrow-right22"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fh5co-testimonial" style="background-image:url(images/img_bg_1.jpg);">
                <div class="container">
                    <div class="row animate-box">
                        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                            <h2>Komentar</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="box-testimony animate-box">
                                <blockquote>
                                    <span class="quote"><span><i class="icon-quotes-right"></i></span></span>
                                    <p>&ldquo;Nikmati Perjalanan yang sangat menyenangkan bersama LookeyOne
                                        Travel.&rdquo;</p>
                                </blockquote>
                                <p class="author">Siska, CEO <span class="subtext">Creative Director</span></p>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="box-testimony animate-box">
                                <blockquote>
                                    <span class="quote"><span><i class="icon-quotes-right"></i></span></span>
                                    <p>&ldquo;Gabunglah untuk menjadi traveler bersama LookeyOne Travel dan nikmati
                                        keindahan alam indonesia bersama kami. Segera bergabung dan dapatkan promo
                                        menarik lainnya.&rdquo;</p>
                                </blockquote>
                                <p class="author">Andi, Marketing <span class="subtext">Marketing</span></p>
                            </div>


                        </div>
                        <div class="col-md-4">
                            <div class="box-testimony animate-box">
                                <blockquote>
                                    <span class="quote"><span><i class="icon-quotes-right"></i></span></span>
                                    <p>&ldquo;Pesan tiket perjalanan beserta penginapan di LookeyOne Travel karena ada
                                        beragam promo menarik didalamnya dan tentunya rekomendasi tempat tempat menarik
                                        untuk kita jelajahi bersama.&rdquo;</p>
                                </blockquote>
                                <p class="author">Fero, UI/UX Designer of <a href="#">LookeyOne Travel.co.id</a> <span
                                        class="subtext">UI/UX Designer</span></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div id="footer">
                    <div class="container">
                        <div class="row row-bottom-padded-md">
                            <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                                <h3>Contact</h3>
                                <p>LookeyOne@gmail.com</p>
                                <p>02198754779</p>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                                <h3>Rute Penerbangan Teratas</h3>
                                <ul>
                                    <li><a href="#">Penerbangan Bali</a></li>
                                    <li><a href="#">Penerbangan Labuan Bajo</a></li>
                                    <li><a href="#">Penerbangan Lombok</a></li>
                                    <li><a href="#">Penerbangan Yogyakarta</a></li>
                                    <li><a href="#">Penerbangan Bandung</a></li>
                                </ul>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                                <h3>Pemesanan Hotel Teratas</h3>
                                <ul>
                                    <li><a href="#">Hotel Foxi</a></li>
                                    <li><a href="#">Hotel Grenma</a></li>
                                    <li><a href="#">Hotel Query</a></li>
                                    <li><a href="#">Hotel Bootstay</a></li>
                                </ul>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                                <h3>Minat Travel</h3>
                                <ul>
                                    <li><a href="#">Pantai</a></li>
                                    <li><a href="#">Travel Keluarga</a></li>
                                    <li><a href="#">Perjalanan Hemat</a></li>
                                    <li><a href="#">Makanan &amp; Minuman</a></li>
                                    <li><a href="#">Honeymoon</a></li>
                                </ul>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                                <h3>Destinasi Wisata Favorit</h3>
                                <ul>
                                    <li><a href="#">Pantai Kuta</a></li>
                                    <li><a href="#">Candi Borobudur</a></li>
                                    <li><a href="#">Pantai Komodo</a></li>
                                    <li><a href="#">Pantai Pink</a></li>
                                </ul>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                                <h3>Terjangkau</h3>
                                <ul>
                                    <li><a href="#">Makanan &amp; Minuman</a></li>
                                    <li><a href="#">Penerbangan jarak jauh</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 text-center">
                                <p class="fh5co-social-icons">
                                    <a href="#"><i class="icon-twitter2"></i></a>
                                    <a href="#"><i class="icon-facebook2"></i></a>
                                    <a href="#"><i class="icon-instagram"></i></a>
                                    <a href="https://youtu.be/XglizRcXziQ"><i class="icon-youtube"></i></a>
                                </p>
                                <p>Copyright @2021. All Rights Reserved. <br>Made with <i class="icon-heart3"></i> by <a
                                        href="" target="_blank">LookeyOne Travel</a> / Demo Images: <a href=""
                                        target="_blank">Gallery</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
        <!-- END fh5co-page -->

    </div>
    <!-- END fh5co-wrapper -->

    <!-- jQuery -->


    <script src="js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/sticky.js"></script>

    <!-- Stellar -->
    <script src="js/jquery.stellar.min.js"></script>
    <!-- Superfish -->
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.js"></script>
    <!-- Magnific Popup -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/magnific-popup-options.js"></script>
    <!-- Date Picker -->
    <script src="js/bootstrap-datepicker.min.js"></script>
    <!-- CS Select -->
    <script src="js/classie.js"></script>
    <script src="js/selectFx.js"></script>

    <!-- Main JS -->
    <script src="js/main.js"></script>

</body>

</html>